<div *ngIf="!isCompleted; else completedBlock" class="challenge-container image-grid-captcha-container">
  <h2 class="captcha-title">Select all tiles with yellow cars</h2>
  <div class="grid">
    <ng-container *ngFor="let row of grid; let i = index">
      <ng-container *ngFor="let cell of row; let j = index">
        <div class="cell"
          (click)="toggleCell(i, j)"
          [class.selected]="cell.selected">
        </div>
      </ng-container>
    </ng-container>
  </div>
  <button (click)="validateSelection()" [disabled]="!isInputValid()" class="challenge-btn">Submit</button>
  <div *ngIf="error" class="error-message">{{ error }}</div>
</div>
<ng-template #completedBlock>
  <div class="image-grid-captcha-completed">
    <span>✅ Grid challenge completed!</span>
  </div>
</ng-template>
